// * {
//   box-sizing: border-box;
// }

a {
  text-decoration-line: none !important;
  text-decoration-color: transparent !important;
}

.MuiTabs-indicator {
  background-color: #F3565D;
  height: 4px !important;
}

.MuiTabs-flexContainer,
.MuiTab-wrapper {
  background-color: white;
  color: #737373;
  text-transform: uppercase;
  font-weight: 700;
}

.Mui-selected>span {
  color: black;
  font-size: 14px;
  font-weight: 700;
}

.p-datepicker-group-container {
  flex-wrap: wrap;
}

.p-datepicker table td,
.p-datepicker table th {
  padding: 0px !important;
}

.p-datepicker-calendar th,
.p-datepicker table th {
  padding: 7px !important;
}

.scheduledLessons>.MuiBox-root,
.scheduledRoadTest>.MuiBox-root {
  padding: 24px 24px 24px 0px !important;
}


.accordionLesson>.MuiAccordionSummary-root {
  max-height: 40px;
}

.cardCalendar,
.cardSlots {
  box-shadow: 0 3px 6px RGB(0 0 0 / 16%), 0 3px 6px RGB(0 0 0 / 22%) !important;
}

.cardCalendar {
  max-width: 657px;
}

.tableDataButton>button {
  border-radius: 0px;
  text-transform: uppercase;
  background-color: #26C281;
  border-color: #26C281;
  color: white;
}

.tableDataButton>button:hover {
  box-shadow: 0 3px 6px RGB(0 0 0 / 16%), 0 3px 6px RGB(0 0 0 / 22%) !important;
  background-color: #26C281;
  border-color: #26C281;
}

.openSlotButton button:hover {
  box-shadow: 0 3px 6px RGB(0 0 0 / 16%), 0 3px 6px RGB(0 0 0 / 22%) !important;
}

.ScheduleCalendarCol {
  padding-top: 35px;
}

.openSlotButton>.MuiSvgIcon-root {
  color: #777 !important;
}

.openSlotButton {
  text-align: right;
}

.cardCalendarCol {
  padding-right: 0px;
}

.availableText {
  color: #2abc79;
  font-size: 13px;
  display: inline;
}

.accordionHeaderText {
  font-size: 18px;
}

.schedulingTabs {
  max-width: 1670px !important;
}

.myScheduleCol {
  padding-right: 30px;
}

.calendarColButton {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tab1,
.tab2,
.tab3 {
  background-color: white;
}

.myScheduleCol>.MuiAppBar-colorPrimary {
  background-color: white !important;
}

.schedulingTabs .tab1 svg,
.tab2 svg,
.tab3 svg {
  display: none;
}

.schedulingTabs .MuiTab-labelIcon {
  min-height: 48px;
}

// .scheduleRadioButtons .Mui-checked input[checked] {
//   fill: #73716e !important;
//   color: #73716e !important;
// }

.scheduleRadioButtons>.MuiSvgIcon-fontSizeSmall {
  color: #73716e !important;
}

.MuiRadio-colorSecondary.Mui-checked {
  color: #73716e !important;
}

.scheduleRadioButtons {
  font-weight: 700 !important;
  color: black !important;
}

@media only screen and (max-width: 321px) and (max-width: 374px) {
  /* .calendarRow {
    margin-left: -31px !important;
  } */

  .schedulingTabs .tab1 svg,
  .tab2 svg,
  .tab3 svg {
    display: block !important;
  }

  .schedulingTabs .tab1 span:not(svg),
  .tab2 span:not(svg),
  .tab3 span:not(svg) {
    font-size: 0px;
  }

  .accordionCol {
    padding-right: 15px !important;
  }

  .calendarCol {
    padding-right: 15px !important;
  }

  .calendarColButton {
    display: inline-flex;
    padding-left: 30px;
    padding-right: 30px;
  }

  .openSlotButton {
    display: none;
    padding-top: 10px;
    text-align: center;
  }

  .myScheduleCol {
    padding-right: 15px !important;
  }

  .ScheduleCalendarCol {
    padding-left: 0px !important;
  }

  .accordionHeaderText {
    font-size: 14px !important;
  }

  .p-datepicker table td>span {
    width: 2rem !important;
    height: 2rem !important;
  }

  .scheduledLessons>.MuiBox-root,
  .scheduledRoadTest>.MuiBox-root {
    padding: 24px 0px 24px 0px !important;
  }

  .p-datepicker.p-datepicker-multiple-month .p-datepicker-group {
    border-right: 0px solid #dee2e6 !important;
  }

  .cardCol {
    padding-right: 0px;
  }

  .cardCalendar>div.MuiCardContent-root {
    padding: 12px !important;
  }

}


@media (min-width: 375px) and (max-width: 426px) {

  .p-datepicker.p-datepicker-multiple-month .p-datepicker-group {
    border-right: 0px solid #dee2e6 !important;
  }

  .p-datepicker-group {
    width: 100%;
  }

  .schedulingTabs .tab1 svg,
  .tab2 svg,
  .tab3 svg {
    display: block !important;
  }

  .schedulingTabs .tab1 span:not(svg),
  .tab2 span:not(svg),
  .tab3 span:not(svg) {
    font-size: 0px;
  }

  .calendarCol {
    padding-right: 7px;
    padding-left: 18px;
  }

  .calendarColButton {
    padding: 0px !important;
  }

  .cardCol {
    padding-right: 0px;
  }

  .openSlotButton {
    display: none;
    padding-top: 10px;
    text-align: center !important;
  }

  .myScheduleCol {
    padding-right: 31px;
  }

  .ScheduleCalendarCol {
    padding-left: -21px;
  }

  .accordionHeaderText {
    font-size: 16px !important;
  }

  .p-datepicker table td>span {
    width: 2rem !important;
    height: 2rem !important;
  }

  .scheduledLessons>.MuiBox-root,
  .scheduledRoadTest>.MuiBox-root {
    padding: 24px 0px 24px 0px !important;
  }

}

@media (min-width: 767px) and (max-width: 769px) {
  .cardCalendar {
    margin: 24px auto;
  }

  .scheduledLessons>.MuiBox-root,
  .scheduledRoadTest>.MuiBox-root {
    padding: 24px 0px 24px 0px !important;
  }

  .calendarCol {
    min-width: 100%;
    padding-right: 0px;
  }

  .cardCol {
    min-width: 100%;
    padding-right: 0px;
  }

  .openSlotButton {
    min-width: 382px;
  }

  .headerTextCol {
    max-width: 300px !important;
  }
}

@media (min-width: 1023px) and (max-width: 1025px) {
  .p-datepicker.p-datepicker-multiple-month .p-datepicker-group {
    border-right: 0px solid #dee2e6 !important;
  }

  .p-datepicker.p-datepicker-multiple-month .p-datepicker-group:first-child {
    width: 100%;
  }

  .p-datepicker.p-datepicker-multiple-month .p-datepicker-group:last-child {
    width: 100%;
  }
}

@media (min-width: 1439px) and (max-width: 1441px) {
  .p-datepicker table td>span {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }

  .p-datepicker-group-container {
    flex-wrap: nowrap;
  }
}

.schedule-datepicker-container {
  text-align: center;
  padding: 15px 20px;
  user-select: none;
}

.filter-toggle-button-container,
.appointments-container {
  min-width: 100%;
  padding: 10px 15px;
}

#filter-toggle-button-group {
  min-width: 100%;
}

#filter-toggle-button {
  background-color: #e5e5e5;
  border-color: #d6d6d6;
  color: #777;

  &:hover {
    background-color: #d3d3d3;
    border-color: #d3d3d3;
    box-shadow: 0 3px 6px RGB(0 0 0 / 20%), 0 3px 6px RGB(0 0 0 / 26%);
  }

  &.focus {
    box-shadow: none;
  }

  &.btn.focus {
    box-shadow: none;
  }

  &.active {
    background-color: #3598dc;
    border-color: #2d87c4;
    color: #fff;
  }
}

#filter-calendar-button {
  background-color: #3598dc;
  border-color: #2d87c4;
  color: #fff;

  &:hover {
    box-shadow: 0 3px 6px RGB(0 0 0 / 20%), 0 3px 6px RGB(0 0 0 / 26%);
  }
}

/* DATEPICKER STYLE */
.schedule-datepicker-container>div>div#container>div:nth-child(1)>div>div {
  height: 54px !important;
  width: 54px !important;
}

/* END OF DATEPICKER STYLE */

#show-calendar-modal {
  display: flex;
  justify-content: center;

  &>.modal-content {
    width: auto !important;
  }
}

@media only screen and (max-width: 500px) {
  #show-calendar-modal {
    &>.modal-content>.modal-header {
      padding: 8px 8px;
    }

    &>.modal-content>.modal-header>button {
      padding: 13px 22px;
    }

    &>.modal-content>.modal-footer {
      padding: 8px;
    }
  }
}


#calendar-close-btn {
  background-color: #d3d3d3;
  border-color: #d3d3d3;
  color: #333;

  &:hover {
    background-color: #CCCCCC;
  }

  &:focus {
    background-color: #CCCCCC;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 8px 18px 0px, rgba(0, 0, 0, 0.26) 0px 6px 6px 0px;
  }
}

/* SHOW CALENDAR STYLE */

#show-calendar-modal>.p-datepicker-calendar>thead>tr>th,
.p-datepicker-calendar>tbody>tr>td {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 700px) {
  #show-calendar-modal .p-datepicker-group-container {
    display: block !important;

    &>.p-datepicker-group {
      border: none !important;
    }
  }

  #show-calendar-modal .p-datepicker table td>span {
    width: 32px !important;
    height: 32px !important;
  }
}

/* END OF CALENDAR STYLE */